target
.idea/
*.iml
.classpath
.project
.settings
.DS_Store

# we don't want to push this file,
# each contributor must create its own to signal acceptance
projection-jdbc/src/it/resources/container-license-acceptance.txt
projection-slick/src/it/resources/container-license-acceptance.txt

.bsp
