target
.idea/
*.iml
.classpath
.project
.settings
.DS_Store

# we don't want to push this file,
# each contributor must create its own to signal acceptance
jdbc-int-test/src/test/resources/container-license-acceptance.txt
slick-int-test/src/test/resources/container-license-acceptance.txt

.bsp
