name: Link Validator

permissions: {}

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  validate-links:
    runs-on: ubuntu-20.04
    if: github.repository == 'apache/incubator-pekko-projection'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Setup Java 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6

      # assign an arbitrary version number so that scripts/link-validator.conf has a predictable set of links to work with
      - name: Create the Pekko site
        run: sbt "set ThisBuild / version := \"1.0.0\"; unidoc; docs/paradox"

      - name: Run Link Validator
        run: cs launch net.runne::site-link-validator:0.2.2 -- scripts/link-validator.conf
