# Licensed to the Apache Software Foundation (ASF) under one or more
# license agreements; and to You under the Apache License, version 2.0:
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# This file is part of the Apache Pekko project, which was derived from Akka.
#

name: Nightly Integration Tests for JDBC (Pekko 1.0.x)

on:
  workflow_dispatch:

jobs:
  test:
    name: Build and Test Integration for JDBC
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - { java-version: 8, scala-version: 2.13, sbt-opts: '' }
          - { java-version: 8, scala-version: 3.3, sbt-opts: '' }
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: 1.2.x

      - name: Copy license acceptance
        run: |-
          cp container-license-acceptance.txt jdbc-int-test/src/test/resources/container-license-acceptance.txt

      - name: Setup JDK ${{ matrix.java-version }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin

      - name: Install sbt
        uses: sbt/setup-sbt@1cad58d595b729a71ca2254cdf5b43dd6f42d4bb # v1.1.18

      - name: Cache Coursier cache
        uses: coursier/cache-action@e47d7d35a0d3a2c7f649ca5c63dfc2bbfaa002e7 # v8.0.1

      - name: Run all integration tests with Scala ${{ matrix.scala-version }} and Java ${{ matrix.java-version }}
        run: |
          sbt -Dpekko.build.pekko.version=1.0.x \
            -Dpekko.build.pekko.connectors.version=1.0.x \
            ++${{ matrix.scala-version }} \
            jdbc-int-test/test ${{ matrix.sbt-opts }}
        env: # Disable Ryuk resource reaper since we always spin up fresh VMs
          TESTCONTAINERS_RYUK_DISABLED: true

      - name: Print logs on failure
        if: ${{ failure() }}
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;
